<div class="tab-pane active" *ngIf="recoveryPanel">
  <div class="row">
    <div class="col-xl-12">
      <section class="login-form">
        <div class="container">
          <div class="container logintu">
            <div class="tool">
              <div class="row">
                <div class="col-xs-12 form-center-focused">
                  <h2 class="section-title">Recover account password</h2>
                  <form #recoveryForm="ngForm" novalidate class="new-project">
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input id="email" required name="email" title="Please enter your account email." tabindex="1" class="form-control" [(ngModel)]="recoverObj.email"
                        #email="ngModel" type="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                      <div [ngClass]="{
                                              'errormsg': email.invalid && (email.dirty || email.touched),
                                              'has-success': email.valid && (email.dirty || email.touched)}" *ngIf="email.errors && (email.dirty || email.touched)">
                        <p class="sm-font" *ngIf="email.errors.required">Email is required</p>
                        <p class="sm-font" *ngIf="email.errors.pattern">Please enter a valid email
                        </p>
                      </div>
                    </div>
                    <div class="form-group ">
                      <re-captcha [(ngModel)]="declarativeFormCaptchaValue" name="captcha" class="form-control" required></re-captcha>
                    </div>
                    <input type="hidden" name="_csrf" [(ngModel)]="recoverObj._csrf" #_csrf="ngModel">
                    <button class="btn btn-primary" (click)="recoveryfn()" [disabled]="recoveryForm.invalid">Recover password</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<div class="tab-pane active" *ngIf="recoveryOtpPanel">
  <div class="row">
    <div class="col-xl-12">
      <section class="login-form">
        <div class="container logintu">
          <div class="tool">
            <div class="row">
              <div class="col-xs-12 form-center-focused">
                <h2 class="section-title">Recover account password</h2>
                <form #newpasswordForm="ngForm" novalidate class="new-project">
                  <div class="form-group">
                    <label for="otp">One Time Password (OTP)</label>
                    <input id="otp" required name="otp" class="form-control" title="Please enter OTP" tabindex="1" class="mdl-textfield__input"
                      placeholder="Please enter OTP" type="otp" [(ngModel)]="newPasswordObj.otp" #otp="ngModel"><div
                      [ngClass]="{
                        'errormsg': otp.invalid && (otp.dirty || otp.touched),
                        'has-success': otp.valid && (otp.dirty || otp.touched)}" *ngIf="otp.errors && (otp.dirty || otp.touched)">
                      <p class="sm-font" *ngIf="otp.errors.required">OTP is required</p>
                    </div>
                    <input id="email" required name="email" [(ngModel)]="newPasswordObj.email" #email="ngModel" type="hidden">
                  </div>
                  <div class="form-group">
                    <label for="newpassword">New Password</label>
                    <input type="password" id="password" name="password" required minlength="8" placeholder="Password" tabindex="4" [(ngModel)]="newPasswordObj.password"
                      #password="ngModel" pattern="((^)(^(?=.*?[A-Z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{6,}$|^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[#?!@$%^&*-]).{6,}$|^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{6,}$|^(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{6,}$))+$"
                      (keyup)="clearError('password');checkpassword(newPasswordObj.password)" class="form-control" />
                    <div [ngClass]="{
                                                  'errormsg': password.invalid && (password.dirty || password.touched),
                                                  'has-success': password.valid && (password.dirty || password.touched)}"
                      *ngIf="password.errors && (password.dirty || password.touched)">
                      <p class="sm-font" *ngIf="password.errors.required">Password is required</p>
                      <p class="sm-font" *ngIf="password.errors.pattern">Not a combination of a-z, A-Z, 0-9, @</p>
                    </div>
                    <div *ngIf="errMsg.password!==''">
                      <span class="sm-font">{{errMsg.password}}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="email">Confirm New Password</label>
                    <input type="password" id="passwordrepeat" name="passwordrepeat" [(ngModel)]="newPasswordObj.passwordrepeat" placeholder="Repeat password"
                      class="form-control" tabindex="5" #passwordrepeat="ngModel" (keydown)="clearError('passwordrepeat')"
                      (blur)="matchPassword(newPasswordObj)" required/>
                    <div [ngClass]="{
                                                  'errormsg': passwordrepeat.invalid && (passwordrepeat.dirty || passwordrepeat.touched),
                                                  'has-success': passwordrepeat.valid && (passwordrepeat.dirty || passwordrepeat.touched)}"
                      *ngIf="passwordrepeat.errors && (passwordrepeat.dirty || passwordrepeat.touched)">
                      <p class="sm-font" *ngIf="passwordrepeat.errors.required">Repeat password is required</p>
                    </div>
                    <div *ngIf="errMsg.passwordrepeat!==''">
                      <span class="sm-font">{{errMsg.passwordrepeat}}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <re-captcha [(ngModel)]="declarativeFormCaptchaValue" name="captcha" class="form-control" required></re-captcha>
                  </div>
                  <input type="hidden" name="_csrf" [(ngModel)]="newPasswordObj._csrf" #_csrf="ngModel">
                  <button class="btn btn-orange btn-primary mt30" (click)="newPasswordfn()" [disabled]="newpasswordForm.invalid" style="width: 100%;"
                    tabindex="16">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>