<nav class="navbar navbar-expand-lg navbar-inverse fixed-top bg-inverse navbar-sticky" id="sticky-menu">
  <div class="navbar-currency d-flex align-items-center">
    <div class="currency-item up">
      <span class="currency-name">BTC</span>
      <span class="currency-volume"> 0.07 %</span>
      <div class="d-flex currency-bottom">
        <div class="align-self-center currency-meta">
          <span class="currency-val">$11,190.30</span>
        </div>
        <div class="currency-card">
          <div class="highcharts" id="usd-container"></div>
        </div>
      </div>
    </div>
    <div class="currency-item down">
      <span class="currency-name">BTC</span>
      <span class="currency-volume"> 0.05 %</span>
      <div class="d-flex currency-bottom">
        <div class="align-self-center currency-meta">
          <span class="currency-val">$11,190.30</span>
        </div>
        <div class="currency-card">
          <div class="highcharts" id="usd-container"></div>
        </div>
      </div>
    </div>
    <div class="currency-item down">
      <span class="currency-name">BTC</span>
      <span class="currency-volume"> 0.05 %</span>
      <div class="d-flex currency-bottom">
        <div class="align-self-center currency-meta">
          <span class="currency-val">$11,190.30</span>
        </div>
        <div class="currency-card">
          <div class="highcharts" id="usd-container"></div>
        </div>
      </div>
    </div>
    <div class="currency-item down">
      <span class="currency-name">BTC</span>
      <span class="currency-volume"> 0.05 %</span>
      <div class="d-flex currency-bottom">
        <div class="align-self-center currency-meta">
          <span class="currency-val">$11,190.30</span>
        </div>
        <div class="currency-card">
          <div class="highcharts" id="usd-container"></div>
        </div>
      </div>
    </div>
    <div class="currency-item down">
      <span class="currency-name">BTC</span>
      <span class="currency-volume"> 0.05 %</span>
      <div class="d-flex currency-bottom">
        <div class="align-self-center currency-meta">
          <span class="currency-val">$11,190.30</span>
        </div>
        <div class="currency-card">
          <div class="highcharts" id="usd-container"></div>
        </div>
      </div>
    </div>
    <div class="currency-item down">
      <span class="currency-name">BTC</span>
      <span class="currency-volume"> 0.05 %</span>
      <div class="d-flex currency-bottom">
        <div class="align-self-center currency-meta">
          <span class="currency-val">$11,190.30</span>
        </div>
        <div class="currency-card">
          <div class="highcharts" id="usd-container"></div>
        </div>
      </div>
    </div>
    <div class="currency-item down">
      <span class="currency-name">BTC</span>
      <span class="currency-volume"> 0.05 %</span>
      <div class="d-flex currency-bottom">
        <div class="align-self-center currency-meta">
          <span class="currency-val">$11,190.30</span>
        </div>
        <div class="currency-card">
          <div class="highcharts" id="usd-container"></div>
        </div>
      </div>
    </div>
    <div class="currency-item down">
      <span class="currency-name">BTC</span>
      <span class="currency-volume"> 0.05 %</span>
      <div class="d-flex currency-bottom">
        <div class="align-self-center currency-meta">
          <span class="currency-val">$11,190.30</span>
        </div>
        <div class="currency-card">
          <div class="highcharts" id="usd-container"></div>
        </div>
      </div>
    </div>
  </div>
  <ul class="navbar-nav mr-auto nav-fill">
    <li class="nav-item">
      <a class="nav-link" href="#content-1"><span class="number">1</span> <span class="nav-title align-self-center">Compare
          Currency Exchange Rates</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#content-2"><span class="number">2</span> <span class="nav-title align-self-center">Multi-<br>crpytocurrency</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#content-3"> <span class="number">3</span> <span class="nav-title align-self-center"> What
          is Xtremcoin.com ?</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#content-4"> <span class="number">4</span> <span class="nav-title align-self-center"> Mobile
          Appp</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#content-5"><span class="number">5</span> <span class="nav-title align-self-center"> Xtremcoin
          TROY <br>Card</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#content-6"><span class="number">6</span> <span class="nav-title align-self-center"> Fast
          <br>Cryptocurrency<br>Exchange</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#content-7"> <span class="number">7</span> <span class="nav-title align-self-center"> SCI
          + API</span></a>
    </li>
  </ul>
</nav>
<main id="intro">
  <div class="intro intro-home">
    <div class="container">
      <div class="row d-flex row d-flex flex-md-wrap flex-wrap-reverse">
        <div class="col-md-6 col-lg-5">
          <div class="content">
            <h1 i18n="User welcome|An introduction header for this sample@@introductionHeader">New Generation<br> Cryptocurrency Wallet</h1>
            <p>Xtremcoin is a convenient online payment tool that combines functions of several cryptocurrency wallets and
              bank cards virtual and plastic ones.</p>
            <form class="sing-up-form">
              <input type="text" placeholder="Enter your email">
              <button type="button" class="btn btn-primary">Sing up</button>
            </form>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 offset-lg-1">
          <div class="currency-values">
            <ul class="nav nav-tabs rounded-top nav-fill" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" href="#usd" role="tab" data-toggle="tab">USD</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#eur" role="tab" data-toggle="tab">EUR</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#gpb" role="tab" data-toggle="tab">GBP</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#jpy" role="tab" data-toggle="tab">JPY</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#cny" role="tab" data-toggle="tab">CNY</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#try" role="tab" data-toggle="tab">TRY</a>
              </li>
            </ul>
            <div class="tab-content rounded-bottom">
              <div role="tabpanel" class="tab-pane active" id="usd">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-6">
                      <div class="currency-item up">
                        <span class="currency-name">BTC</span>
                        <span class="currency-val">$11,190.30</span>
                        <div class="d-flex currency-bottom">
                          <div class="align-self-center currency-meta">
                            <span class="currency-volume"> 0.05 %</span>
                          </div>
                          <div class="currency-card">
                            <div class="highcharts" id="usd-1-container"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 last">
                      <div class="currency-item down">
                        <span class="currency-name">BTC</span>
                        <span class="currency-val">$11,190.30</span>
                        <div class="d-flex currency-bottom">
                          <div class="align-self-center currency-meta">
                            <span class="currency-volume"> 0.05 %</span>
                          </div>
                          <div class="currency-card">
                            <div class="highcharts" id="eur-container"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="currency-item up">
                        <span class="currency-name">BTC</span>
                        <span class="currency-val">$11,190.30</span>
                        <div class="d-flex currency-bottom">
                          <div class="align-self-center currency-meta">
                            <span class="currency-volume"> 0.05 %</span>
                          </div>
                          <div class="currency-card">
                            <div class="highcharts" id="usd-container"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 last">
                      <div class="currency-item down">
                        <span class="currency-name">BTC</span>
                        <span class="currency-val">$11,190.30</span>
                        <div class="d-flex currency-bottom">
                          <div class="align-self-center currency-meta">
                            <span class="currency-volume"> 0.05 %</span>
                          </div>
                          <div class="currency-card">
                            <div class="highcharts" id="eur-container"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="currency-item up">
                        <span class="currency-name">BTC</span>
                        <span class="currency-val">$11,190.30</span>
                        <div class="d-flex currency-bottom">
                          <div class="align-self-center currency-meta">
                            <span class="currency-volume"> 0.05 %</span>
                          </div>
                          <div class="currency-card">
                            <div class="highcharts" id="usd-container"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 last">
                      <div class="currency-item down">
                        <span class="currency-name">BTC</span>
                        <span class="currency-val">$11,190.30</span>
                        <div class="d-flex currency-bottom">
                          <div class="align-self-center currency-meta">
                            <span class="currency-volume"> 0.05 %</span>
                          </div>
                          <div class="currency-card">
                            <div class="highcharts" id="eur-container"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="eur">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-6">
                      <div class="currency-item up">
                        <span class="currency-name">BTC</span>
                        <span class="currency-val">$11,190.30</span>
                        <div class="d-flex currency-bottom">
                          <div class="align-self-center currency-meta">
                            <span class="currency-volume"> 0.05 %</span>
                          </div>
                          <div class="currency-card">
                            <div class="highcharts" id="usd-container"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 last">
                      <div class="currency-item down">
                        <span class="currency-name">BTC</span>
                        <span class="currency-val">$11,190.30</span>
                        <div class="d-flex currency-bottom">
                          <div class="align-self-center currency-meta">
                            <span class="currency-volume"> 0.05 %</span>
                          </div>
                          <div class="currency-card">
                            <div class="highcharts" id="eur-container"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="currency-item up">
                        <span class="currency-name">BTC</span>
                        <span class="currency-val">$11,190.30</span>
                        <div class="d-flex currency-bottom">
                          <div class="align-self-center currency-meta">
                            <span class="currency-volume"> 0.05 %</span>
                          </div>
                          <div class="currency-card">
                            <div class="highcharts" id="usd-container"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 last">
                      <div class="currency-item down">
                        <span class="currency-name">BTC</span>
                        <span class="currency-val">$11,190.30</span>
                        <div class="d-flex currency-bottom">
                          <div class="align-self-center currency-meta">
                            <span class="currency-volume"> 0.05 %</span>
                          </div>
                          <div class="currency-card">
                            <div class="highcharts" id="eur-container"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="currency-item up">
                        <span class="currency-name">BTC</span>
                        <span class="currency-val">$11,190.30</span>
                        <div class="d-flex currency-bottom">
                          <div class="align-self-center currency-meta">
                            <span class="currency-volume"> 0.05 %</span>
                          </div>
                          <div class="currency-card">
                            <div class="highcharts" id="usd-container"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 last">
                      <div class="currency-item down">
                        <span class="currency-name">BTC</span>
                        <span class="currency-val">$11,190.30</span>
                        <div class="d-flex currency-bottom">
                          <div class="align-self-center currency-meta">
                            <span class="currency-volume"> 0.05 %</span>
                          </div>
                          <div class="currency-card">
                            <div class="highcharts" id="eur-container"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="gpb">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-6">
                      <div class="currency-item up">
                        <span class="currency-name">BTC</span>
                        <span class="currency-val">$11,190.30</span>
                        <div class="d-flex currency-bottom">
                          <div class="align-self-center currency-meta">
                            <span class="currency-volume"> 0.05 %</span>
                          </div>
                          <div class="currency-card">
                            <div class="highcharts" id="usd-container"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 last">
                      <div class="currency-item down">
                        <span class="currency-name">BTC</span>
                        <span class="currency-val">$11,190.30</span>
                        <div class="d-flex currency-bottom">
                          <div class="align-self-center currency-meta">
                            <span class="currency-volume"> 0.05 %</span>
                          </div>
                          <div class="currency-card">
                            <div class="highcharts" id="eur-container"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="currency-item up">
                        <span class="currency-name">BTC</span>
                        <span class="currency-val">$11,190.30</span>
                        <div class="d-flex currency-bottom">
                          <div class="align-self-center currency-meta">
                            <span class="currency-volume"> 0.05 %</span>
                          </div>
                          <div class="currency-card">
                            <div class="highcharts" id="usd-container"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 last">
                      <div class="currency-item down">
                        <span class="currency-name">BTC</span>
                        <span class="currency-val">$11,190.30</span>
                        <div class="d-flex currency-bottom">
                          <div class="align-self-center currency-meta">
                            <span class="currency-volume"> 0.05 %</span>
                          </div>
                          <div class="currency-card">
                            <div class="highcharts" id="eur-container"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="currency-item up">
                        <span class="currency-name">BTC</span>
                        <span class="currency-val">$11,190.30</span>
                        <div class="d-flex currency-bottom">
                          <div class="align-self-center currency-meta">
                            <span class="currency-volume"> 0.05 %</span>
                          </div>
                          <div class="currency-card">
                            <div class="highcharts" id="usd-container"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 last">
                      <div class="currency-item down">
                        <span class="currency-name">BTC</span>
                        <span class="currency-val">$11,190.30</span>
                        <div class="d-flex currency-bottom">
                          <div class="align-self-center currency-meta">
                            <span class="currency-volume"> 0.05 %</span>
                          </div>
                          <div class="currency-card">
                            <div class="highcharts" id="eur-container"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="jpy">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-6">
                      <div class="currency-item up">
                        <span class="currency-name">BTC</span>
                        <span class="currency-val">$11,190.30</span>
                        <div class="d-flex currency-bottom">
                          <div class="align-self-center currency-meta">
                            <span class="currency-volume"> 0.05 %</span>
                          </div>
                          <div class="currency-card">
                            <div class="highcharts" id="usd-container"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 last">
                      <div class="currency-item down">
                        <span class="currency-name">BTC</span>
                        <span class="currency-val">$11,190.30</span>
                        <div class="d-flex currency-bottom">
                          <div class="align-self-center currency-meta">
                            <span class="currency-volume"> 0.05 %</span>
                          </div>
                          <div class="currency-card">
                            <div class="highcharts" id="eur-container"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="currency-item up">
                        <span class="currency-name">BTC</span>
                        <span class="currency-val">$11,190.30</span>
                        <div class="d-flex currency-bottom">
                          <div class="align-self-center currency-meta">
                            <span class="currency-volume"> 0.05 %</span>
                          </div>
                          <div class="currency-card">
                            <div class="highcharts" id="usd-container"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 last">
                      <div class="currency-item down">
                        <span class="currency-name">BTC</span>
                        <span class="currency-val">$11,190.30</span>
                        <div class="d-flex currency-bottom">
                          <div class="align-self-center currency-meta">
                            <span class="currency-volume"> 0.05 %</span>
                          </div>
                          <div class="currency-card">
                            <div class="highcharts" id="eur-container"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="currency-item up">
                        <span class="currency-name">BTC</span>
                        <span class="currency-val">$11,190.30</span>
                        <div class="d-flex currency-bottom">
                          <div class="align-self-center currency-meta">
                            <span class="currency-volume"> 0.05 %</span>
                          </div>
                          <div class="currency-card">
                            <div class="highcharts" id="usd-container"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 last">
                      <div class="currency-item down">
                        <span class="currency-name">BTC</span>
                        <span class="currency-val">$11,190.30</span>
                        <div class="d-flex currency-bottom">
                          <div class="align-self-center currency-meta">
                            <span class="currency-volume"> 0.05 %</span>
                          </div>
                          <div class="currency-card">
                            <div class="highcharts" id="eur-container"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="cny">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-6">
                      <div class="currency-item up">
                        <span class="currency-name">BTC</span>
                        <span class="currency-val">$11,190.30</span>
                        <div class="d-flex currency-bottom">
                          <div class="align-self-center currency-meta">
                            <span class="currency-volume"> 0.05 %</span>
                          </div>
                          <div class="currency-card">
                            <div class="highcharts" id="usd-container"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 last">
                      <div class="currency-item down">
                        <span class="currency-name">BTC</span>
                        <span class="currency-val">$11,190.30</span>
                        <div class="d-flex currency-bottom">
                          <div class="align-self-center currency-meta">
                            <span class="currency-volume"> 0.05 %</span>
                          </div>
                          <div class="currency-card">
                            <div class="highcharts" id="eur-container"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="currency-item up">
                        <span class="currency-name">BTC</span>
                        <span class="currency-val">$11,190.30</span>
                        <div class="d-flex currency-bottom">
                          <div class="align-self-center currency-meta">
                            <span class="currency-volume"> 0.05 %</span>
                          </div>
                          <div class="currency-card">
                            <div class="highcharts" id="usd-container"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 last">
                      <div class="currency-item down">
                        <span class="currency-name">BTC</span>
                        <span class="currency-val">$11,190.30</span>
                        <div class="d-flex currency-bottom">
                          <div class="align-self-center currency-meta">
                            <span class="currency-volume"> 0.05 %</span>
                          </div>
                          <div class="currency-card">
                            <div class="highcharts" id="eur-container"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="currency-item up">
                        <span class="currency-name">BTC</span>
                        <span class="currency-val">$11,190.30</span>
                        <div class="d-flex currency-bottom">
                          <div class="align-self-center currency-meta">
                            <span class="currency-volume"> 0.05 %</span>
                          </div>
                          <div class="currency-card">
                            <div class="highcharts" id="usd-container"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 last">
                      <div class="currency-item down">
                        <span class="currency-name">BTC</span>
                        <span class="currency-val">$11,190.30</span>
                        <div class="d-flex currency-bottom">
                          <div class="align-self-center currency-meta">
                            <span class="currency-volume"> 0.05 %</span>
                          </div>
                          <div class="currency-card">
                            <div class="highcharts" id="eur-container"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="try">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-6">
                      <div class="currency-item up">
                        <span class="currency-name">BTC</span>
                        <span class="currency-val">$11,190.30</span>
                        <div class="d-flex currency-bottom">
                          <div class="align-self-center currency-meta">
                            <span class="currency-volume"> 0.05 %</span>
                          </div>
                          <div class="currency-card">
                            <div class="highcharts" id="usd-container"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 last">
                      <div class="currency-item down">
                        <span class="currency-name">BTC</span>
                        <span class="currency-val">$11,190.30</span>
                        <div class="d-flex currency-bottom">
                          <div class="align-self-center currency-meta">
                            <span class="currency-volume"> 0.05 %</span>
                          </div>
                          <div class="currency-card">
                            <div class="highcharts" id="eur-container"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="currency-item up">
                        <span class="currency-name">BTC</span>
                        <span class="currency-val">$11,190.30</span>
                        <div class="d-flex currency-bottom">
                          <div class="align-self-center currency-meta">
                            <span class="currency-volume"> 0.05 %</span>
                          </div>
                          <div class="currency-card">
                            <div class="highcharts" id="usd-container"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 last">
                      <div class="currency-item down">
                        <span class="currency-name">BTC</span>
                        <span class="currency-val">$11,190.30</span>
                        <div class="d-flex currency-bottom">
                          <div class="align-self-center currency-meta">
                            <span class="currency-volume"> 0.05 %</span>
                          </div>
                          <div class="currency-card">
                            <div class="highcharts" id="eur-container"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="currency-item up">
                        <span class="currency-name">BTC</span>
                        <span class="currency-val">$11,190.30</span>
                        <div class="d-flex currency-bottom">
                          <div class="align-self-center currency-meta">
                            <span class="currency-volume"> 0.05 %</span>
                          </div>
                          <div class="currency-card">
                            <div class="highcharts" id="usd-container"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 last">
                      <div class="currency-item down">
                        <span class="currency-name">BTC</span>
                        <span class="currency-val">$11,190.30</span>
                        <div class="d-flex currency-bottom">
                          <div class="align-self-center currency-meta">
                            <span class="currency-volume"> 0.05 %</span>
                          </div>
                          <div class="currency-card">
                            <div class="highcharts" id="eur-container"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-bottom p-3 d-flex justify-content-start">
                <span class="price-index align-self-center">TRY Price Index (60d)</span>
                <a href="#" class="all-currency ml-auto">All Currency</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<section id="content-1">
  <div class="currency-exchange-rates text-center">
    <div class="container-fluid">
      <div class="content">
        <h3 class="h1">Compare Currency Exchange Rates</h3>
        <p>Easily, currency and cryptocurrency compare each other.</p>
        <div class="list">
          <div class="item item--3">
            <img class="svg-flag" src="./assets/images/icons/eur.png">
            <span class="currency-name">SGD · Main</span>
            <span class="currency-val">S$2,630.5</span>
          </div>
          <div class="item item--2">
            <img class="svg-flag" src="./assets/images/icons/ltc.png">
            <span class="currency-name">CAD · Main</span>
            <span class="currency-val">$9,540.3</span>
          </div>
          <div class="item item--1">
            <img class="svg-flag" src="./assets/images/icons/xrp.png">
            <span class="currency-name">GBP · Main</span>
            <span class="currency-val">£50,000</span>
          </div>
          <div class="item item--0">
            <img class="svg-flag" src="./assets/images/icons/try.png">
            <span class="currency-name">EUR · Main</span>
            <input type="text" value="₺">
          </div>
          <div class="item item--1">
            <img class="svg-flag" src="./assets/images/icons/eht.png">
            <span class="currency-name">USD · Main</span>
            <span class="currency-val">$35,000</span>
          </div>
          <div class="item item--2">
            <img class="svg-flag" src="./assets/images/icons/btc.png">
            <span class="currency-name">AUD · Main</span>
            <span class="currency-val">$4,420.7</span>
          </div>
          <div class="item item--3">
            <img class="svg-flag" src="./assets/images/icons/usd.png">
            <span class="currency-name">TRY · Main</span>
            <span class="currency-val">₺200,630.05</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="content-2">
  <div class="multi-crpytocurrency-wallet content-type-video">
    <div class="container">
      <div class="row d-flex row d-flex flex-md-wrap flex-wrap-reverse">
        <div class="col-md-5 align-self-center">
          <div class="content">
            <h3 class="h1">Multi-crpytocurrency Wallet</h3>
            <p>Replenishment, instant currency exchange and comfortable withdrawal of cryptocurrency using a bank cards is
              available in the following payment systems:</p>
            <p>Bitcoin, Ripple, Bitcoin Cash, Ethereum, Litecoin, Xtremcoin</p>
            <a href="#" class="btn btn-primary">Learned More</a>
          </div>
        </div>
        <div class="col-md-6 offset-md-1 align-self-baseline">
          <video class="video" autoplay playsinline muted loop>
            <source src="../../assets/media/wallet.mp4" type="video/mp4"> Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="content-3">
  <div class="what-is-extremecoin text-center">
    <div class="container-fluid">
      <div class="d-flex flex-column-reverse flex-md-column">
        <div class="content">
          <h3 class="h1">What is Xtremcoin.com ?</h3>
          <p>XTRemcoin is a convenient online payment tool that combines functions of several cryptocurrency wallets and
            <br> bank cards virtual and plastic ones..</p>
        </div>
        <div class="feature-image">
          <img class="img-fluid" src="./assets/images/what-is-extremecoin.png">
        </div>
      </div>
    </div>
  </div>
</section>
<section id="content-4">
  <div class="mobile-app">
    <div class="container">
      <div class="row d-flex row d-flex flex-md-wrap flex-wrap-reverse">
        <div class="col-md-6 align-self-center">
          <div class="content">
            <h1 class="title">Mobil App</h1>
            <p>Twenty-four-hour access to your assets with free software for mobile device on popular Android and iOS platforms.</p>
            <p> A complete replacement of web version, which has the necessary functionality for performing ant financial
              transactions.</p>
            <div class="list d-flex align-content-around flex-column flex-lg-row">
              <a href="#" class="store-icon windows">Get it on Windows 10</a>
              <a href="#" class="store-icon google-play">Get it on Google Play</a>
              <a href="#" class="store-icon app-store">Download on the App Store</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 align-self-baseline">
          <img class="banner" src="./assets/images/mobil-app-phone.png">
        </div>
      </div>
    </div>
  </div>
</section>
<section id="content-5">
  <div class="xtremcoin-troy-card text-center">
    <div class="container-fluid">
      <div class="d-flex flex-column-reverse flex-md-column">
        <div class="content">
          <h3 class="h1">Xtremcoin TROY Card</h3>
          <p>Xtremcoin’s banking tools include a multicurrency set of plastic and visual cards of TROY international class.</p>
        </div>
        <div class="feature-image">
          <div class="map-dot-wrap">
            <img class="img-fluid" src="./assets/images/xtremcoin-troy-card.png">
            <div data-index="0" class="map-dot" style="top:17%;left:41.88%;animation-delay:0s">
              <div class="map-dot-border" style="animation-delay:1s"></div>
              <div class="border-content">
                <span class="title">Lorem Ipsum Nedir?</span>
                <span class="desc">Lorem Ipsum, dizgi ve baskı endüstrisinde</span>
              </div>
            </div>
            <div data-index="1" class="map-dot" style="top:19%;left:10.9%;animation-delay:0s">
              <div class="map-dot-border" style="animation-delay:1s"></div>
              <div class="border-content">
                <span class="title">Lorem Ipsum Nedir?</span>
                <span class="desc">Lorem Ipsum, dizgi ve baskı endüstrisinde</span>
              </div>
            </div>
            <div data-index="2" class="map-dot" style="top:85.2%;left:15%;animation-delay:1166ms">
              <div class="map-dot-border" style="animation-delay:1s"></div>
              <div class="border-content">
                <span class="title">Lorem Ipsum Nedir?</span>
                <span class="desc">Lorem Ipsum, dizgi ve baskı endüstrisinde</span>
              </div>
            </div>
            <div data-index="3" class="map-dot" style="top:83.5%;left:45.8%;animation-delay:2332ms">
              <div class="border-content">
                <span class="title">Lorem Ipsum Nedir?</span>
                <span class="desc">Lorem Ipsum, dizgi ve baskı endüstrisinde</span>
              </div>
              <div class="map-dot-border" style="animation-delay:2332ms"></div>
            </div>
            <div data-index="4" class="map-dot" style="top:84.5%;left:85.3%;animation-delay:2332ms">
              <div class="border-content">
                <span class="title">Lorem Ipsum Nedir?</span>
                <span class="desc">Lorem Ipsum, dizgi ve baskı endüstrisinde</span>
              </div>
              <div class="map-dot-border" style="animation-delay:2332ms"></div>
            </div>
            <div data-index="5" class="map-dot" style="top:27.6%;left:94%;animation-delay:2332ms">
              <div class="border-content">
                <span class="title">Lorem Ipsum Nedir?</span>
                <span class="desc">Lorem Ipsum, dizgi ve baskı endüstrisinde</span>
              </div>
              <div class="map-dot-border" style="animation-delay:2332ms"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="content-6">
  <div class="fast-crpytocurrency-exchange content-type-video">
    <div class="container">
      <div class="row d-flex">
        <div class="col-md-7 align-self-baseline">
          <video class="video" autoplay playsinline muted loop>
            <source src="../../assets/media/exchange.mp4" type="video/mp4"> Your browser does not support the video tag.
          </video>
        </div>
        <div class="col-md-5 align-self-center">
          <div class="content">
            <h3 class="h1">Fast Cryptocurrency<br> Exchange</h3>
            <p>Thanks to XTRemCoin, users can instantly exchange the cryptocurrency at official cross rate in just a few
              clicks.ten<br> Thanks to XTRemCoin, users can instantly exchange the cryptocurrency at official cross rate
              in just a few clicks.ten</p>
            <a href="#" class="btn btn-primary">Learned More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="content-7">
  <div class="sci-api">
    <div class="container">
      <div class="row d-flex row d-flex flex-md-wrap flex-wrap-reverse">
        <div class="col-md-5">
          <div class="content">
            <h3 class="h1">SCI + API</h3>
            <p class="text-dark">Excellent offer for business partners who use cryptocurrency as payment methods when selling
              goods and providing services.</p>
            <p>SCI and API for your online website. Fast processing of payments and low commission will bringing joy please
              to your customers!</p>
            <a href="#" class="btn btn-primary">Download</a>
          </div>
        </div>
        <div class="col-md-6 offset-md-1">
          <div class="api-statistic">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-6">
                  <div class="api-statistic-item">
                    <span class="title">241</span>
                    <span class="desc">Title here</span>
                    <div class="line-wrap green">
                      <div class="line-bg"></div>
                      <div class="line-val" role="progressbar" style="width:82%" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 last">
                  <div class="api-statistic-item">
                    <span class="title">90%</span>
                    <span class="desc">Title here</span>
                    <div class="line-wrap blue">
                      <div class="line-bg"></div>
                      <div class="line-val" role="progressbar" style="width:60%" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="api-statistic-item">
                    <span class="title">14</span>
                    <span class="desc">Title here</span>
                    <div class="line-wrap red">
                      <div class="line-bg"></div>
                      <div class="line-val" role="progressbar" style="width:40%" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 last">
                  <div class="api-statistic-item">
                    <span class="title">1.230</span>
                    <span class="desc">Title here</span>
                    <div class="line-wrap purple">
                      <div class="line-bg"></div>
                      <div class="line-val" role="progressbar" style="width:50%" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>