<footer class="footer">
  <div class="footer-top">
    <h3>Praesent id tellus hendrerit, bibendumnibh aliquam</h3>
    <div class="slider-wrap">
      <div class="owl-carousel owl-theme">
        <div class="item"><img src="./assets/images/payment-systems/geliyoo.png"> </div>
        <div class="item"><img src="./assets/images/payment-systems/bitgo.png"> </div>
        <div class="item"><img src="./assets/images/payment-systems/ohv.png"> </div>
        <div class="item"><img src="./assets/images/payment-systems/pci.png"> </div>
        <div class="item"><img src="./assets/images/payment-systems/comodo.png"> </div>
        <div class="item"><img src="./assets/images/payment-systems/ccna.png"> </div>
        <div class="item"><img src="./assets/images/payment-systems/imperva.png"> </div>
      </div>
    </div>
    <p>Electronic payment systems,<br> Debit/credit cards and Banks in 200+ countries around the world</p>
  </div>
  <div class="footer-center">
      <div class="container">
          <div class="get-started">
            <div class="row">
               <div class="col-md-6">
                  <span class="title">Ready To Get Started?</span>
                  <span class="desc">Create an account or get in touch to request a demo.</span>
               </div>
              <div class="col-md-6">
                <form class="sing-up-form">
                  <input type="text" placeholder="Enter your email">
                  <button type="button" class="btn btn-primary">Sing up</button>
                </form>
              </div>
            </div>
          </div>
          <div class="footer-link-wrap row">
            <div class="col-lg-3 col-sm-6 footer-contact footer-link">
              <span class="title">Get in touch</span>
              <ul>
                <li class="icon icon-phone">+90 (216) 481 87 98</li>
                <li class="icon icon-mail">help@xtremcoin.com</li>
                <li class="icon icon-map"> Xtremcoin BD<br>93 A Avenue General De Gaulle<br>68300 , Saint Louis<br>France</li>
              </ul>
            </div>
            <div class="col-lg-3 col-sm-6 footer-link">
              <span class="title">Products</span>
              <ul>
                <li><a href="#">Buy/Sell Bitcoin</a></li>
                <li><a href="#">Bitcoin Wallet</a></li>
                <li><a href="#">Bitcoin Debit Card</a></li>
                <li><a href="#">Merchant Projects</a></li>
                <li><a href="#">Integration Tools</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-sm-6 footer-link">
              <span class="title">About</span>
              <ul>
                <li><a href="#">What is Bitcoin?</a></li>
                <li><a href="#">How to Buy Bitcoins</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Affiliate</a></li>
                <li><a href="#">Supported Countries</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-sm-6 footer-link">
              <span class="title">Support</span>
              <ul>
                <li><a href="#">Help</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Fees and Limits</a></li>
                <li><a href="#">Rates</a></li>
                <li><a href="#">Terms and Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Risk Warning</a></li>
                <li><a href="#">Cookie Policy</a></li>
              </ul>
            </div>
          </div>
      </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="d-lg-flex">
        <div class="copyright">Copyright © 2017 XTRemCoin Finance Ltd. All rights reserved</div>
        <div class="ml-auto social-links">
          <a href="#" class="social-icon in"></a>
          <a href="#" class="social-icon tw"></a>
          <a href="#" class="social-icon fb"></a>
          <a href="#" class="social-icon git"></a>
          <a href="#" class="social-icon gp"></a>
          <a href="#" class="social-icon ins"></a>
          <a href="#" class="social-icon vk"></a>
          <a href="#" class="social-icon yt"></a>
        </div>
      </div>
    </div>
  </div>
</footer>