<div class="dashboard-currency-container">
    <div class="dashboard-currency d-flex align-items-center">
        <div class="currency-item btc up" ng-class="{active: (selectedCurrency==='BTC')}" ng-click="selectedCurrency='BTC'">
            <div class="outer-boxcon">
                <div class="boxcon">
                    <div class="boxinner">
                        <span class="currency-name">BTC</span>
                        <span class="currency-volume"> 0.07 %</span>
                    </div>
                    <div class="d-flex currency-bottom">
                        <div class="align-self-center currency-meta">
                            <span class="currency-val">$11,190.30</span>
                            <span class="currency-val">$11,190.30</span>
                            <span class="currency-val">$11,190.30</span>
                        </div>
                        <div class="currency-card">
                            <div class="highcharts" id="usd-container"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="currency-item xrp down" ng-class="{active: (selectedCurrency==='XPR')}" ng-click="selectedCurrency='XPR'">
            <div class="outer-boxcon">
                <div class="boxcon">
                    <div class="boxinner">
                        <span class="currency-name">XRP</span>
                        <span class="currency-volume"> 0.05 %</span>
                    </div>
                    <div class="d-flex currency-bottom">
                        <div class="align-self-center currency-meta">
                            <span class="currency-val">$11,190.30</span>
                            <span class="currency-val">$11,190.30</span>
                            <span class="currency-val">$11,190.30</span>
                        </div>
                        <div class="currency-card">
                            <div class="highcharts" id="usd-container"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="currency-item xtr down" ng-class="{active: (selectedCurrency==='XTR')}" ng-click="selectedCurrency='XTR'">
            <div class="outer-boxcon">
                <div class="boxcon">
                    <div class="boxinner">
                        <span class="currency-name">XTR</span>
                        <span class="currency-volume"> 0.05 %</span>
                    </div>
                    <div class="d-flex currency-bottom">
                        <div class="align-self-center currency-meta">
                            <span class="currency-val">$11,190.30</span>
                            <span class="currency-val">$11,190.30</span>
                            <span class="currency-val">$11,190.30</span>
                        </div>
                        <div class="currency-card">
                            <div class="highcharts" id="usd-container"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="currency-item eth down" ng-class="{active: (selectedCurrency==='ETH')}" ng-click="selectedCurrency='ETH'">
            <div class="outer-boxcon">
                <div class="boxcon">
                    <div class="boxinner">
                        <span class="currency-name">ETH</span>
                        <span class="currency-volume"> 0.05 %</span>
                    </div>
                    <div class="d-flex currency-bottom">
                        <div class="align-self-center currency-meta">
                            <span class="currency-val">$11,190.30</span>
                            <span class="currency-val">$11,190.30</span>
                            <span class="currency-val">$11,190.30</span>
                        </div>
                        <div class="currency-card">
                            <div class="highcharts" id="usd-container"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="currency-item ltc down" ng-class="{active: (selectedCurrency==='LTC')}" ng-click="selectedCurrency='LTC'">
            <div class="outer-boxcon">
                <div class="boxcon">
                    <div class="boxinner">
                        <span class="currency-name">LTC</span>
                        <span class="currency-volume"> 0.05 %</span>
                    </div>
                    <div class="d-flex currency-bottom">
                        <div class="align-self-center currency-meta">
                            <span class="currency-val">$11,190.30</span>
                            <span class="currency-val">$11,190.30</span>
                            <span class="currency-val">$11,190.30</span>
                        </div>
                        <div class="currency-card">
                            <div class="highcharts" id="usd-container"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="currency-item bch down" ng-class="{active: (selectedCurrency==='BCH')}" ng-click="selectedCurrency='BCH'">
            <div class="outer-boxcon">
                <div class="boxcon">
                    <div class="boxinner">
                        <span class="currency-name">BCH</span>
                        <span class="currency-volume"> 0.05 %</span>
                    </div>
                    <div class="d-flex currency-bottom">
                        <div class="align-self-center currency-meta">
                            <span class="currency-val">$11,190.30</span>
                            <span class="currency-val">$11,190.30</span>
                            <span class="currency-val">$11,190.30</span>
                        </div>
                        <div class="currency-card">
                            <div class="highcharts" id="usd-container"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="currency-item try down" ng-class="{active: (selectedCurrency==='TRY')}" ng-click="selectedCurrency='TRY'">
            <div class="outer-boxcon">
                <div class="boxcon">
                    <div class="boxinner">
                        <span class="currency-name">TRY</span>
                        <span class="currency-volume"> 0.05 %</span>
                    </div>
                    <div class="d-flex currency-bottom">
                        <div class="align-self-center currency-meta">
                            <span class="currency-val">$11,190.30</span>
                            <span class="currency-val">$11,190.30</span>
                            <span class="currency-val">$11,190.30</span>
                        </div>
                        <div class="currency-card">
                            <div class="highcharts" id="usd-container"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="currency-item eur down" ng-class="{active: (selectedCurrency==='EUR')}" ng-click="selectedCurrency='EUR'">
            <div class="outer-boxcon">
                <div class="boxcon">
                    <div class="boxinner">
                        <span class="currency-name">EUR</span>
                        <span class="currency-volume"> 0.05 %</span>
                    </div>
                    <div class="d-flex currency-bottom">
                        <div class="align-self-center currency-meta">
                            <span class="currency-val">$11,190.30</span>
                            <span class="currency-val">$11,190.30</span>
                            <span class="currency-val">$11,190.30</span>
                        </div>
                        <div class="currency-card">
                            <div class="highcharts" id="usd-container"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="currency-item usd down" ng-class="{active: (selectedCurrency==='USD')}" ng-click="selectedCurrency='USD'">
            <div class="outer-boxcon">
                <div class="boxcon">
                    <div class="boxinner">
                        <span class="currency-name">USD</span>
                        <span class="currency-volume"> 0.05 %</span>
                    </div>
                    <div class="d-flex currency-bottom">
                        <div class="align-self-center currency-meta">
                            <span class="currency-val">$11,190.30</span>
                            <span class="currency-val">$11,190.30</span>
                            <span class="currency-val">$11,190.30</span>
                        </div>
                        <div class="currency-card">
                            <div class="highcharts" id="usd-container"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tab">
    <!-- Nav tabs -->
    <div class="tab-wrap">
        <div class="container">
            <div class="hide-xs-down">

                <ul class="nav nav-dashboard justify-content-center justify-content-md-start" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" routerLink="/user/dashboard" routerLinkActive="active"
                            role="tab">Dashboard</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" data-toggle="tab" routerLink="/user/wallets" routerLinkActive="active" role="tab">Wallets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" routerLink="/user/exchange" routerLinkActive="active"
                            role="tab">Exchange</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" routerLink="/user/deposit" routerLinkActive="active" role="tab">Deposit</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" routerLink="/user/cards" routerLinkActive="active" role="tab">Cards</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" routerLink="/user/withdraw" routerLinkActive="active"
                            role="tab">Withdraw</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" routerLink="/user/merchant" routerLinkActive="active"
                            role="tab">Merchant</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" routerLink="/user/profile" routerLinkActive="active" role="tab">Profile</a>
                    </li>

                </ul>
            </div>
            <div class="hide-xs-up set-margin" id="menu-link">
                <div class="menu-div text-left">
                    <a ng-click="showSideMenu=!showSideMenu" ng-class="{active : (showSideMenu)}"><i class="fa fa-bars"
                            ng-class="{active : (showSideMenu)}"></i>
                        Menu
                    </a>
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="tab-content dashboard-tab-content">
            <div ui-view></div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<div class="backdrop" [ngStyle]="{'display':exchangeSellmodel}"></div>
<div class="modal modal-css" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" [ngStyle]="{'display':exchangeSellmodel}">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content modal-fix popup">
            <div class="row">
                <div class="col-md-6 col-xs-12 ">
                    <h2>Your account is not fully
                        secure <strong>without 2FA</strong></h2>
                    <span>
                        Please seriously consider enabling twp-factor authentication.
                        Enabling 2FA adds an extra layer of security to your accound and
                        protects you against the most common password crack and
                        social engineering hacks.
                    </span>
                </div>
                <div class="col-md-6 col-xs-12 ">
                    <img src="/assets/images/popup_2fa_warn.png" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12 set-margin">
                    <div class="button-holder">
                        <button type="submit" class="btn btn-primary btn-block" (click)="closeExchangeSellModal()"
                            routerLink="/user/profile/twfa" routerLinkActive="active">Enable 2FA</button>
                    </div>
                    <button class="btn btn-outline-primary profile-button" (click)="closeExchangeSellModal()" type="button">
                        Skip
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>